<md-radio-group ng-model="$root.globalTranslate">
    <md-radio-button class="md-primary" ng-repeat="(key, value) in $root.languagesList"
                     ng-checked="$root.globalTranslate == key"
                     ng-value="key">
        <img ng-src="{{value.src}}"/>
        {{value.text}}
    </md-radio-button>
</md-radio-group>