.criteria {
  .list .item.item-stable {
    .mark-status {
      position: fixed;
      right: 0;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      transform: translateY(-20px);
      margin-right: 15px;
    }
  }
  .list .item.item-accordion {
    line-height: 38px;
    padding: 5px 16px 10px;
    transition: 0.09s all linear;
    .description {
      p {
        white-space: initial;
        line-height: normal;
        margin: 10px 0;
      }
    }
    .close-icon {
      position: fixed;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      right: 0;
      margin: 10px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      z-index: 99;
      md-icon {
        display: inline;
      }
    }
    .image-container {
      margin: 20px 0 0 0;
      position: relative;
      width: 100%;
      max-height: 185px;
      overflow: hidden;
      img {
        width: inherit;
      }
    }
    .chooser-container {
      min-height: 80px;
      margin-left: 50%;
    }
    .buttons-container {
      margin-left: 25%;
    }
  }
  .list .item.item-accordion.ng-hide {
    line-height: 0;
  }
  .list .item.item-accordion.ng-hide-add,
  .list .item.item-accordion.ng-hide-remove {
    display: block !important;
  }
}