.bar.bar-balanced {
  background-color: #0097a7!important;
}
.bar-balanced .button {
  border-color: transparent!important;
  background-color: transparent!important;
  md-icon {
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
  }
}
.menu-button-icon {
  margin: 6px 0;
}
.bar.bar-balanced .title {
  right: 20px!important;
  left: 20px!important;
}