.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 100px;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;

  &.transparent,
  .transparent {
    background: rgba(0, 0, 0, 0.5) !important;
  }

  .fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
  }

  .description {
    color: white;
    padding: 10px 10px 0;
    .mark {
      height: 10px;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    .date {
      font-size: larger;
    }
    .info {
      max-height: 100px;
      text-align: justify;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .slider {
    width: 100%;
    height: 100%;
  }
  .remove {
    height: 35px;
    bottom: 3px;
    right: 3px;
    left: 3px;
    text-align: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(255, 30, 30);
    line-height: 35px;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 50;
    cursor: pointer;
  }
  .left, .right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    height: 100%;
    z-index: 100;
    width: 44px;
    background-color: rgba(0, 0, 0, 0);
    color: #28b18e !important;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
