.login {
  ion-content {
    background: #0097a7;
    color: white;
    //font-family: Raleway, Georgia, inherit;
    .logo {
      text-align: center;
      height: 50%;
      padding: 20% 0 34%;
      img {
        height: 10.5em;
      }
    }
    form {
      margin: 0 9% 3%;

      input[type='button'] {
        color: #0097a7;
        background: white;
        border: 2px solid white;
        border-radius: 30px;
        width: 100%;
        padding: 10px 0;
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        box-shadow: 0 1px 2px #666;
      }
      input[type='text'],
      input[type='password']
      {
        margin: 12px 0;
      }

      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #eee;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #eee;
        opacity:  1;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #eee;
        opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #eee;
      }

      .email,
      .password {
        //font-family: Raleway, Georgia, Arial;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: 5px 5px;
        padding: 6px 3px 6px 38px;
        outline: 0;
        border: none;
        border-bottom: 1px solid #30c89d;
        font-size: 18px;
        color: white;
        width: 100%;
        height: 2em;
        &:focus {
          border-bottom: 1px solid white;
        }
      }

      .email {
        background-image: url('../img/email.png');
      }

      .password {
        background-image: url('../img/password.png');
      }
    }

    .sign-up-text {
      padding-bottom: 20px;
      text-align: center;
      color: white;
      a {
        &:first-child {
          font-weight: bold;
        }
        text-decoration: underline;
        color: white;
      }
    }
  }
}
