/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$positive:                        #00ac5c !default;
$balanced:                        #0097a7 !default;
$green_pastel:                    #28b18d;
$color_primary:                   #00ac5c;
$color_primary_dark:              $green_pastel;
$app_color:                       #0097a7;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

@font-face {
  font-family: "Raleway Bold";
  src: url("www/css/fonts/raleway_bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Medium";
  src: url("www/css/fonts/raleway_medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("www/css/fonts/raleway_regular.ttf") format("truetype");
}

#loading-bar .bar {
  height: 1px;
  border: none;
  padding: 1px;
  background-color: #8fbf4e!important;
}