.moreInfo {
  .mark-status {
    width: 100%;
    height: 50px;
    border-radius: 10px;
  }
  .images {
    text-align: center;
    margin-top: 15px;
    .one {
      position: relative;
      display: inline-block;
      width: 40%;
      margin: 0 3% 3% 3%;
      img {
        width: 100%;
      }
      .close-icon {
        position: absolute;
        top: -5px;
        right: -5px;
        border-radius: 50%;
      }
    }
  }
}