.signup.pane {
  background-color: #28b18d;
  color: white;
  font-family: Raleway, Georgia, inherit;
  form {
    padding: 11% 9%;
    .title {
      font-size: 28px;
      margin-bottom: 9%;
    }
    input[type='text'],
    input[type='password'],
    select{
      outline: 0;
      background: transparent;
      font-family: Raleway, Georgia, Arial;
      border: none;
      border-bottom: 1px solid #30c89d;
      font-size: 20px;
      color: white;
      width: 100%;
      height: 2em;
      padding: 6px 3px;
      &:focus {
        border-bottom: 1px solid white;
      }
    }
    input[type='submit'] {
      color: #28b18d;
      background: white;
      border: 2px solid white;
      border-radius: 30px;
      width: 100%;
      padding: 10px 0;
      margin-top: 10px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      box-shadow: 0 1px 2px #666;
    }
    input[type='text'],
    input[type='password']
    {
      margin: 12px 0;
      padding-left: 7px !important;
    }

    select {
      margin-bottom: 10px;
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #eee;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #eee;
      opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #eee;
      opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    #eee;
    }
  }
  button {
    width: 100%;
    text-align: center;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px 0;
    margin: 15px 0;
    font-size: 18px;
  }
}
