.workplaces {
  .scroll {
    position: relative;
    height: 90vh;
  }

  .text {
    padding: 30px;
    font-size: 19px;
  }

  .without-items {
    text-align: center;
    margin: 20px;
  }

  .back {
    width: 100%;
    text-align: center;
    button {
      color: white;
      background: #00ac5c;
      border: 2px solid white;
      border-radius: 30px;
      width: 70%;
      padding: 10px 0;
      margin: 15px 0;
      font-size: 18px;
    }
  }
}
