<ion-nav-bar align-title="center" class="bar bar-balanced">
    <!-- <div class="buttons">
        <button class="button menu-icon" type="button" ng-click="clickBack()">
            <img class="menu-button-icon" src="img/keyboard_backspace.svg">
        </button>
    </div> -->
    <ion-nav-back-button>
    </ion-nav-back-button>
    <!-- <h1 class="title" translate="{{$root.title}}"></h1> -->
    <ion-nav-title translate="{{$root.title}}">
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="menuLogout()">
            <md-icon md-svg-src="img/exit.svg"></md-icon>
        </button>
        <!--<md-menu>-->
            <!--<button class="button" ng-click="openMenu($mdMenu, $event)">-->
                <!--<img class="menu-button-icon" src="img/menu.svg">-->
            <!--</button>-->
            <!--<md-menu-content width="3">-->
                <!--<md-menu-item>-->
                    <!--<md-button ng-click="setLanguage()">-->
                        <!--<md-icon md-svg-src="img/language.svg"></md-icon>-->
                        <!--{{'HEADER_MENU_LANGUAGE' | translate }}-->
                    <!--</md-button>-->
                <!--</md-menu-item>-->
                <!--<md-menu-divider></md-menu-divider>-->
                <!--<md-menu-item>-->
                    <!--<md-button ng-click="menuLogout()">-->
                        <!--<md-icon md-svg-src="img/launch.svg"></md-icon>-->
                        <!--{{'HEADER_MENU_LOGOUT' | translate }}-->
                    <!--</md-button>-->
                <!--</md-menu-item>-->
            <!--</md-menu-content>-->
        <!--</md-menu>-->
    </ion-nav-buttons>
</ion-nav-bar>

<ion-nav-view></ion-nav-view>