<ion-view class="signup">
    <ion-content>
        <form>
            <div class="title">
                {{'SIGNUP_TEXT_TITLE' | translate }}
            </div>

            <input type="text" placeholder="{{'SIGNUP_PLACEHOLDER_USERNAME' | translate }}" ng-model="vm.data.username" maxlength="50"/>
            <input type="text" placeholder="{{'SIGNUP_PLACEHOLDER_EMAIL' | translate }}" ng-model="vm.data.email" maxlength="50"/>

            <input type="password" placeholder="{{'SIGNUP_PLACEHOLDER_PASSWORD' | translate }}" ng-model="vm.data.password"/>
            <input type="password" placeholder="{{'SIGNUP_PLACEHOLDER_REPEAT_PASSWORD' | translate }}" ng-model="vm.data.rpassword"/>

            <input type="submit" value="{{'SIGNUP_BUTTON_SIGNUP' | translate }}" ng-click="vm.signup()">
            <button ng-click="vm.back()">{{'SIGNUP_BUTTON_BACK' | translate }}</button>
        </form>
    </ion-content>
</ion-view>
