<ion-view class="login">
    <ion-content>
        <div class="logo">
            <img src="img/q.svg" alt="splashtext">
        </div>
        <form>
            <input class="email"
                   type="text"
                   placeholder="{{'LOGIN_PLACEHOLDER_EMAIL' | translate}}"
                   ng-model="vm.data.email"
                   maxlength="50"
                   ng-click="vm.scroll()" />

            <input class="password"
                   type="password"
                   placeholder="{{'LOGIN_PLACEHOLDER_PASSWORD' | translate}}"
                   ng-model="vm.data.password"
                   ng-click="vm.scroll()" />
            <input type="button" value="Login" ng-click="vm.login()">
        </form>
        <!--<div class="sign-up-text">-->
            <!--Don't have an account? <a ui-sref="signup">Sign Up</a> <br>-->
            <!--<a ng-click="vm.forgotPassword()">Forgot password?</a>-->
        <!--</div>-->
    </ion-content>
</ion-view>