<div class="modal image-modal transparent" >
    <ion-pane class="transparent" ng-click="vm.closeModal()">
    	<div class="left">
            <div class="button button-positive button-clear no-animation icon ion-chevron-left"
                 ng-click="vm.previous(); $event.stopPropagation();"
                 ng-if="vm.modalImage.images.length > 1"
                 ng-style="{'color': '#28b18e'}">
            </div>
        </div>
        <div class="right">
            <div class="button button-positive button-clear no-animation icon ion-chevron-right"
                 ng-click="vm.next(); $event.stopPropagation();"
                 ng-if="vm.modalImage.images.length > 1"
                 ng-style="{'color': '#28b18e'}">
            </div>
        </div>
        <ion-slide-box active-slide="vm.slide" does-continue="true">
            <ion-slide ng-repeat="image in vm.modalImage.images track by $index">
                <img ng-src="{{image.url}}" class="fullscreen-image" />
                <div class="description">
                    <div class="mark" ng-style="{'background-color': image.mark == null ? 'transparent' : image.mark}"></div>
                    <p class="date">{{image.date | date: 'dd.MM.yyyy'}}</p>
                    <p class="info">{{image.description}}</p>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-pane>
</div>
