<ion-view class="workplaces" ng-init="$root.title=$root.stakeTitle='WORKPLACES_VALUE_HEADER'">
    <ion-content>
        <div class="list">
            <a class="item"
               ng-repeat="item in vm.items track by $index"
               ng-click="$root.stakeTitle=$root.title; $root.title=item.name"
               ui-sref="app.criteriaList({place_id: item.id})">
                <h2>{{item.name}}</h2>
                <!--<p>Date of create: {{item.created_at | date: 'dd.MM.yyyy'}}</p>-->
            </a>
        </div>
        <div class="without-items" ng-if="vm.items.length == 0">
            {{'WORKPLACES_NO_ITEMS_LABEL' | translate}}
        </div>
    </ion-content>
</ion-view>