<ion-view class="criteria">
    <ion-content>
        <ion-list>
            <div ng-repeat="item in vm.groups track by $index"
                 ng-init="item.img=''; item.description=''; $first ? vm.toggleGroup(item) : {}">
                <ion-item class="item-stable"
                          ng-click="vm.toggleGroup(item)"
                          ng-class="{active: vm.isGroupShown(item)}">
                    <!--<i class="icon" ng-class="vm.isGroupShown(item) ? 'ion-minus' : 'ion-plus'"></i>-->
                    {{item.name}}
                    <div class="mark-status"
                         ng-style="{'background-color': item.status == null ? 'transparent' : item.status}">
                    </div>
                </ion-item>
                <ion-item class="item-accordion" ng-show="vm.isGroupShown(item)">
                    <div class="close-icon" md-colors="{background: 'grey'}"
                         ng-if="item.img !== ''"
                         ng-click="vm.removeImage($index)">
                        <md-icon md-svg-src="img/close.svg"></md-icon>
                    </div>
                    <div class="image-container" ng-if="item.img !== ''">
                        <img ng-src="{{vm.groups[$index].img}}" alt="{{item.desc}}">
                    </div>
                    <div class="description" ng-click="vm.openDescriptionDialog($index)">
                        <p>{{item.description}}</p>
                    </div>
                    <div class="chooser-container" layout="row" layout-align="space-around center">
                        <md-button class="md-fab md-raised md-primary"
                                   ng-click="vm.openDescriptionDialog($index)"
                                   aria-label="type">
                            <md-icon md-svg-src="img/border_color.svg"></md-icon>
                        </md-button>
                        <md-menu>
                            <md-button class="md-fab md-raised md-primary" aria-label="load"
                                       ng-click="vm.openMenu($mdMenu, $event)">
                                <md-icon md-svg-src="img/photo_camera.svg"></md-icon>
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.openCamera($index, 1)">
                                        <md-icon md-svg-src="img/photo_camera_black.svg"></md-icon>
                                        {{'CRITERIA_PHOTO_MENU_CAMERA' | translate}}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="vm.openCamera($index, 2)">
                                        <md-icon md-svg-src="img/photo_library.svg"></md-icon>
                                        {{'CRITERIA_PHOTO_MENU_LIBRARY' | translate}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <div class="buttons-container" layout="row" layout-align="space-around center">
                        <!--<md-button class="md-fab md-raised" aria-label="skip"-->
                                   <!--ng-click="$root.stakeTitle=$root.title; $root.title=item.name"-->
                                   <!--ui-sref="app.moreInfo({item: item})">-->
                            <!--Info-->
                        <!--</md-button>-->
                        <md-button class="md-fab" ng-click="vm.setPoint(item, 'green', $index)"
                                   md-colors="{background: 'light-green'}" aria-label="green">
                            <md-icon md-svg-src="img/check.svg"></md-icon>
                        </md-button>
                        <md-button class="md-fab" ng-click="vm.setPoint(item, 'yellow', $index)"
                                   md-colors="{background: 'amber'}" aria-label="yellow">
                            <md-icon md-svg-src="img/warning.svg"></md-icon>
                        </md-button>
                        <md-button class="md-fab" ng-click="vm.setPoint(item, 'red', $index)"
                                   md-colors="{background: 'red'}" aria-label="red">
                            <md-icon md-svg-src="img/close.svg"></md-icon>
                        </md-button>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
