<ion-view class="moreInfo">
    <ion-content>
        <md-card>
            <div class="images">
                <div class="one" ng-repeat="img in vm.testData track by $index">
                    <img ng-src="{{img.url}}"
                         ng-click="vm.slide = $index; vm.showImage(img.url)">
                    <!--<div class="close-icon" md-colors="{background: 'grey'}"
                         ng-click="vm.removeImage($index)">
                        <md-icon md-svg-src="img/close.svg"></md-icon>
                    </div>-->
                </div>
            </div>
            <!--<md-card-title>-->
                <!--<md-card-title-text>-->
                    <!--<span class="mark-status"-->
                          <!--ng-style="{'background-color': vm.data.status == null ? 'transparent' : vm.data.status}">-->
                    <!--</span>-->
                <!--</md-card-title-text>-->
            <!--</md-card-title>-->
            <!--<md-card-content ng-if="vm.data.description">-->
                <!--<p>-->
                    <!--{{vm.data.description}}-->
                <!--</p>-->
            <!--</md-card-content>-->
            <md-card-actions layout="column"
                             layout-align="center center"
                             ng-if="vm.data.created_at">
                {{'INFO_MAIN_DATE_LABEL' | translate}}{{vm.data.created_at | date:'dd.MM.yyyy'}}
            </md-card-actions>
        </md-card>
    </ion-content>
</ion-view>