<ion-view class="workplaces">
    <ion-content>
        <div class="list">
            <a class="item"
               ng-repeat="item in vm.checks track by $index"
               ng-click="$root.stakeTitle=$root.title; $root.title=item.name"
               ui-sref="app.criteriaList({list_id: item.id})">
                <h2>{{item.name}}</h2>
                <!--<p>{{item.description}}</p>-->
            </a>
        </div>
        <div class="without-items" ng-if="vm.checks.length == 0">
            {{'CHECKLIST_NO_ITEMS_LABEL' | translate}}
        </div>
    </ion-content>
</ion-view>
