
.criteria .list .item.item-stable .mark-status {
  position: fixed;
  right: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transform: translateY(-20px);
  margin-right: 15px;
}

.criteria .list .item.item-accordion {
  line-height: 38px;
  padding: 5px 16px 10px;
  transition: 0.09s all linear;
}

.criteria .list .item.item-accordion .description p {
  white-space: initial;
  line-height: normal;
  margin: 10px 0;
}

.criteria .list .item.item-accordion .close-icon {
  position: fixed;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  right: 0;
  margin: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 99;
}

.criteria .list .item.item-accordion .close-icon md-icon {
  display: inline;
}

.criteria .list .item.item-accordion .image-container {
  margin: 20px 0 0 0;
  position: relative;
  width: 100%;
  max-height: 185px;
  overflow: hidden;
}

.criteria .list .item.item-accordion .image-container img {
  width: inherit;
}

.criteria .list .item.item-accordion .chooser-container {
  min-height: 80px;
  margin-left: 50%;
}

.criteria .list .item.item-accordion .buttons-container {
  margin-left: 25%;
}

.criteria .list .item.item-accordion.ng-hide {
  line-height: 0;
}

.criteria .list .item.item-accordion.ng-hide-add,
.criteria .list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.bar.bar-balanced {
  background-color: #0097a7 !important;
}

.bar-balanced .button {
  border-color: transparent !important;
  background-color: transparent !important;
}

.bar-balanced .button md-icon {
  height: 20px;
  width: 20px;
  min-height: 20px;
  min-width: 20px;
}

.menu-button-icon {
  margin: 6px 0;
}

.bar.bar-balanced .title {
  right: 20px !important;
  left: 20px !important;
}
.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 100px;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.image-modal.transparent,
.image-modal .transparent {
  background: rgba(0, 0, 0, 0.5) !important;
}

.image-modal .fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.image-modal .description {
  color: white;
  padding: 10px 10px 0;
}

.image-modal .description .mark {
  height: 10px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.image-modal .description .date {
  font-size: larger;
}

.image-modal .description .info {
  max-height: 100px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-modal .slider {
  width: 100%;
  height: 100%;
}

.image-modal .remove {
  height: 35px;
  bottom: 3px;
  right: 3px;
  left: 3px;
  text-align: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  color: #ff1e1e;
  line-height: 35px;
  font-size: 1.2em;
  font-weight: bold;
  z-index: 50;
  cursor: pointer;
}

.image-modal .left,
.image-modal .right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  height: 100%;
  z-index: 100;
  width: 44px;
  background-color: transparent;
  color: #28b18e !important;
}

.image-modal .left {
  left: 0;
}

.image-modal .right {
  right: 0;
}
.login ion-content {
  background: #0097a7;
  color: white;
}

.login ion-content .logo {
  text-align: center;
  height: 50%;
  padding: 20% 0 34%;
}

.login ion-content .logo img {
  height: 10.5em;
}

.login ion-content form {
  margin: 0 9% 3%;
}

.login ion-content form input[type='button'] {
  color: #0097a7;
  background: white;
  border: 2px solid white;
  border-radius: 30px;
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 1px 2px #666;
}

.login ion-content form input[type='text'],
.login ion-content form input[type='password'] {
  margin: 12px 0;
}

.login ion-content form ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #eee;
}

.login ion-content form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #eee;
  opacity: 1;
}

.login ion-content form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #eee;
  opacity: 1;
}

.login ion-content form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #eee;
}

.login ion-content form .email,
.login ion-content form .password {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 5px 5px;
  padding: 6px 3px 6px 38px;
  outline: 0;
  border: none;
  border-bottom: 1px solid #30c89d;
  font-size: 18px;
  color: white;
  width: 100%;
  height: 2em;
}

.login ion-content form .email:focus,
.login ion-content form .password:focus {
  border-bottom: 1px solid white;
}

.login ion-content form .email {
  background-image: url("../img/email.png");
}

.login ion-content form .password {
  background-image: url("../img/password.png");
}

.login ion-content .sign-up-text {
  padding-bottom: 20px;
  text-align: center;
  color: white;
}

.login ion-content .sign-up-text a {
  text-decoration: underline;
  color: white;
}

.login ion-content .sign-up-text a:first-child {
  font-weight: bold;
}
/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

@font-face {
  font-family: "Raleway Bold";
  src: url("www/css/fonts/raleway_bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Medium";
  src: url("www/css/fonts/raleway_medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("www/css/fonts/raleway_regular.ttf") format("truetype");
}

#loading-bar .bar {
  height: 1px;
  border: none;
  padding: 1px;
  background-color: #8fbf4e !important;
}
.moreInfo .mark-status {
  width: 100%;
  height: 50px;
  border-radius: 10px;
}

.moreInfo .images {
  text-align: center;
  margin-top: 15px;
}

.moreInfo .images .one {
  position: relative;
  display: inline-block;
  width: 40%;
  margin: 0 3% 3% 3%;
}

.moreInfo .images .one img {
  width: 100%;
}

.moreInfo .images .one .close-icon {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
}
.signup.pane {
  background-color: #28b18d;
  color: white;
  font-family: Raleway, Georgia, inherit;
}

.signup.pane form {
  padding: 11% 9%;
}

.signup.pane form .title {
  font-size: 28px;
  margin-bottom: 9%;
}

.signup.pane form input[type='text'],
.signup.pane form input[type='password'],
.signup.pane form select {
  outline: 0;
  background: transparent;
  font-family: Raleway, Georgia, Arial;
  border: none;
  border-bottom: 1px solid #30c89d;
  font-size: 20px;
  color: white;
  width: 100%;
  height: 2em;
  padding: 6px 3px;
}

.signup.pane form input[type='text']:focus,
.signup.pane form input[type='password']:focus,
.signup.pane form select:focus {
  border-bottom: 1px solid white;
}

.signup.pane form input[type='submit'] {
  color: #28b18d;
  background: white;
  border: 2px solid white;
  border-radius: 30px;
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 1px 2px #666;
}

.signup.pane form input[type='text'],
.signup.pane form input[type='password'] {
  margin: 12px 0;
  padding-left: 7px !important;
}

.signup.pane form select {
  margin-bottom: 10px;
}

.signup.pane form ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #eee;
}

.signup.pane form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #eee;
  opacity: 1;
}

.signup.pane form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #eee;
  opacity: 1;
}

.signup.pane form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #eee;
}

.signup.pane button {
  width: 100%;
  text-align: center;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 10px 0;
  margin: 15px 0;
  font-size: 18px;
}
.workplaces .scroll {
  position: relative;
  height: 90vh;
}

.workplaces .text {
  padding: 30px;
  font-size: 19px;
}

.workplaces .without-items {
  text-align: center;
  margin: 20px;
}

.workplaces .back {
  width: 100%;
  text-align: center;
}

.workplaces .back button {
  color: white;
  background: #00ac5c;
  border: 2px solid white;
  border-radius: 30px;
  width: 70%;
  padding: 10px 0;
  margin: 15px 0;
  font-size: 18px;
}